
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-6">
            <h4>
              Vacancies
               <small>({{ vm.vacanciesCount }})</small>
            </h4>
          </div>
          <div class="col-xs-6 text-right"><small><a href="/vacancies/new" class="btn btn-link">Add</a></small></div>
        </div>
      </div>
      <table ng-if="vm.vacanciesCount &gt; 0" class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>salary</th>
            <th>contacts</th>
            <th>created_at </th>
            <th>expired_at</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="vacancy in vm.vacancies">
            <td>{{ vacancy.id }}</td>
            <td>{{ vacancy.title }}</td>
            <td>{{ vacancy.salary }}</td>
            <td>{{ vacancy.contacts }}</td>
            <td>{{ vacancy.created_at | date:'medium' }}</td>
            <td>{{ vacancy.expired_at | date:'medium' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>