
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="page-header">
        <h4>New vacancy</h4>
      </div>
      <form ng-submit="vm.createVacancy()">
        <div class="form-group">
          <label for="title">Title</label>
          <input id="title" type="text" placeholder="title" ng-model="vm.vacancy.title" ng-required="true" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="contacts">contacts</label>
          <input id="contacts" type="text" placeholder="contacts" ng-model="vm.vacancy.contacts" ng-required="true" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="salary">salary</label>
          <input id="salary" type="number" placeholder="salary" min="0" max="2147483647" ng-model="vm.vacancy.salary" ng-required="true" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="expired_at">expired_at</label>
          <input id="expired_at" type="date" placeholder="expired_at" ng-model="vm.vacancy.expired_at" ng-required="true" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>