.container
  .row
    .col-md-3
      .page-header
        h4 vacancy # {{ vm.vacancy.id }}
        
      dl.dl-horizontal
        dt ID
        dd {{ vm.vacancy.id }}

        dt title
        dd {{ vm.vacancy.title }}

        dt expired_at
        dd {{ vm.vacancy.expired_at | date:'medium' }}
        
        dt salary
        dd {{ vm.vacancy.salary }}

        dt contacts
        dd {{ vm.vacancy.contacts }}

        dt created_at
        dd {{ vm.vacancy.created_at | date:'medium' }}


    .col-md-3
      .page-header
        h4 Умения
      
      ul
        li(ng-repeat='skill in vm.skills') {{ skill.name }}


    .col-md-6
      .page-header
        h4 Подходящие кандидаты
      
      .row
        .col-md-6
          h6 Частичное совпадение умений
          ul
            li(ng-repeat='employee in vm.employees')
              a(ng-href='/employees/{{ employee.id }}') {{ employee.name }}

        .col-md-6
          h6 Полное совпадение умений
          ul
            li(ng-repeat='employee in vm.fullMatchEmployees')
              a(ng-href='/employees/{{ employee.id }}') {{ employee.name }}