.container
  .row
    .col-xs-12
      .page-header
        .row
          .col-xs-6
            h4
              | {{ 'SKILLS' | translate }}
              | 
              small ({{ vm.skillsCount }})
          
          .col-xs-6.text-right
            small
              a.btn.btn-link(href='/skills/new') {{ 'ADD_SKILL' | translate }}


      table.table.table-hover(ng-if='vm.skillsCount > 0')
        thead
          tr
            th {{ 'ID' | translate }}
            th {{ 'SKILL_NAME' | translate }}

        tbody
          tr(ng-repeat='skill in vm.skills')
            td {{ skill.id }}
            td {{ skill.name }}