doctype
html(ng-app='app')
  head
    title BF
    meta(charset='utf-8')
    base(href='/')
    //- inject:css
    //- endinject

  body
    nav.navbar.navbar-default.ng-cloak
      .container
        .navbar-header
          a.navbar-brand(href='/skills') BF

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a(href='/skills') {{ 'SKILLS' | translate }}
            li
              a(href='/vacancies') {{ 'VACANCIES' | translate }}
            li
              a(href='/employees') {{ 'EMPLOYEES' | translate }}
    ng-view
    //- inject:js
    //- endinject
