
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-6">
            <h4>
              Employees
               <small>({{ vm.employeesCount }})</small>
            </h4>
          </div>
          <div class="col-xs-6 text-right"><small><a href="/employees/new" class="btn btn-link">Add</a></small></div>
        </div>
      </div>
      <table ng-if="vm.employeesCount &gt; 0" class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>email </th>
            <th>phone</th>
            <th>status</th>
            <th>salary </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in vm.employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.status }}</td>
            <td>{{ employee.salary }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>