
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="page-header">
        <h4>New employee</h4>
      </div>
      <form ng-submit="vm.createEmployee()">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" placeholder="name" ng-model="vm.employee.name" ng-required="true" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input id="email" type="email" placeholder="email" ng-model="vm.employee.email" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="phone">phone</label>
          <input id="phone" type="text" placeholder="phone" ng-model="vm.employee.phone" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="salary">salary</label>
          <input id="salary" type="number" placeholder="salary" min="0" max="2147483647" ng-model="vm.employee.salary" ng-required="true" class="form-control"/>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.employee.status"/> 
            Ищу работу
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>