
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-6">
            <h4>
              Skills
               <small>({{ vm.skillsCount }})</small>
            </h4>
          </div>
          <div class="col-xs-6 text-right"><small><a href="/skills/new" class="btn btn-link">Add</a></small></div>
        </div>
      </div>
      <table ng-if="vm.skillsCount &gt; 0" class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="skill in vm.skills">
            <td>{{ skill.id }}</td>
            <td>{{ skill.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>